.tariff-alert {
  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  margin: 40px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 518px;
    padding: 24px;
    backdrop-filter: blur(32px);
  }

  &__icon {
    flex: 0 0 32px;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__text {
    margin: 0;
    //font-weight: 500;
    text-align: center;
    text-wrap: balance;
    hyphens: none;
    color: var(--text-color);
  }

  &--dark {

    #{$block-name}__inner {

      @include gradient-border-mask(
        2px,
        $border-radius--24,
        var(--border-gradient-10),
        var(--opacity-white-4)
      )
    }

    #{$block-name}__icon {

      svg {
        fill: var(--white);
      }
    }
  }

  &--light {

    #{$block-name}__inner {

      @include gradient-border-mask(
        2px,
        $border-radius--24,
        var(--blue-150),
        var(--opacity-white-60)
      )
    }

    #{$block-name}__icon {

      svg {
        fill: var(--blue-500);
      }
    }
  }
}
