.main-nav {

  $block-name:                &; // #{$block-name}__element

  display: none;
  position: relative;
  z-index: 5;

  @media (min-width: $menu-desktop-width) {
    display: flex;
  }

  // первый уровень
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &.lvl-2 {
      padding: 8px 0;
      margin-top: 10px;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   z-index: -1;
      //   inset: 0;
      //   background: rgba(0, 0, 0, 0.3);
      //   backdrop-filter: blur(10px);
      // }
    }
  }

  &__item {
    position: relative;
    margin: 0 !important;

    &:hover,
    &:focus-within {

      & > #{$block-name}__link {
        position: relative;
        color: var(--main-nav-link-hover-color);
        background: radial-gradient(102.75% 31.15% at 50% 50%,
                    rgba(39, 125, 255, 0.08) 0%,
                    rgba(39, 125, 255, 0.00) 48%,
                    rgba(39, 125, 255, 0.00) 100%);

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          background: linear-gradient(to right, transparent, var(--blue-500) 64%, transparent);
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }

        .chevron {
          transform: rotate(-180deg);
        }
      }
    }

    &.active {

      & > #{$block-name}__link {
        color: var(--main-nav-link-active-color);
        background: radial-gradient(102.75% 31.15% at 50% 50%,
                    rgba(39, 125, 255, 0.08) 0%,
                    rgba(39, 125, 255, 0.00) 48%,
                    rgba(39, 125, 255, 0.00) 100%);
      }
    }

    &.lvl-2 {
      width: 100%;

      & > #{$block-name}__link {
        justify-content: initial;
        width: 100%;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;
    color: var(--main-nav-link-color);
    //background-color: #fff;

    @media (min-width: $screen-xxl) {
      padding: 16px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--main-nav-link-hover-color);
      //text-shadow: 0 0 10px var(--white);
      background: radial-gradient(102.75% 31.15% at 50% 50%,
                    rgba(39, 125, 255, 0.08) 0%,
                    rgba(39, 125, 255, 0.00) 48%,
                    rgba(39, 125, 255, 0.00) 100%);
    }

    &:active {
      color: var(--main-nav-link-active-color) !important;
      background: radial-gradient(102.75% 31.15% at 50% 50%,
                    rgba(39, 125, 255, 0.08) 0%,
                    rgba(39, 125, 255, 0.00) 48%,
                    rgba(39, 125, 255, 0.00) 100%);
    }

    .chevron {
      width: 24px;
      height: 24px;
      transition: transform 0.2s;
    }

    svg + span {
      margin-left: 4px;
    }

    &--lvl-2 {
      min-width: 250px;
      padding: 13px 16px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }
    }
  }

  &__sublist-wrapper {
    background: none;

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        opacity: 0;
        height: 0;
        overflow: hidden;
        //transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }

  &--dark {

    #{$block-name}__list {

      &.lvl-2 {
        @include gradient-border-mask(
          2px,
          12px,
          var(--border-gradient-10),
          var(--blue-950)
        )
        //backdrop-filter: blur(10px);

        // &::after {
        //   background: rgba(0, 0, 0, 0.6);
        // }
      }
    }
  }

  &--light {
    #{$block-name}__list {

      &.lvl-2 {
        @include gradient-border-mask(
          2px,
          12px,
          var(--border-gradient-10),
          var(--white)
        )
        //backdrop-filter: blur(10px);

        // &::after {
        //   background: rgba(255, 255, 255, 0.8);
        // }

        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05),
                    0 4px 4px 0 rgba(0, 0, 0, 0.05),
                    0 10px 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
