table,
.table {

  $block-name:                &; // #{$block-name}__element

  table-layout: fixed;
  //border-collapse: collapse;
  border-spacing: 4px;
  width: 100%;
  //border: 1px solid $border-color;
  margin: 1em 0;

  caption {
    padding-bottom: 0.5em;
    text-align: initial;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: 1em;
    color: inherit;
  }

  td,
  th {
    padding: 6px 12px;
    vertical-align: top;
    text-align: center;
    border-radius: 6px;
    //border-bottom: 1px solid $border-color;

    // &:not(:first-child) {
    //   border-left: 1px solid $border-color;
    // }
  }

  th {
    font-weight: 500;
    color: var(--th-color);
    background-color: var(--th-bg-color);
  }

  // tr:has(th + td)  {

  //   th {
  //     background-color: red;
  //   }
  // }
}
