.about-history {
  $block-name:                &; // #{$block-name}__element

  position: relative;
  @include block-margin;

  &__title {
    margin-bottom: 24px;
  }

  &__list {
    //border-radius: $border-radius--12;
    backdrop-filter: blur(10px);

    &--dark {
      @include gradient-border-mask(
        2px,
        $border-radius--12,
        var(--border-gradient-10),
        var(--opacity-black-50)
      )

      #{$block-name}__item {

        &:not(:last-child) {
          border-bottom: 1px solid var(--opacity-white-20);
        }
      }
    }

    &--light {
      @include gradient-border-mask(
        2px,
        $border-radius--12,
        var(--grey-300),
        var(--opacity-blue-8)
      )

      #{$block-name}__item {

        &:not(:last-child) {
          border-bottom: 1px solid var(--opacity-blue-20);
        }
      }
    }
  }

  &__item {
    padding: 16px;

    @media (min-width: $screen-md) {
      padding: 16px 40px;
    }
  }

  &__content {
    max-width: 1024px;

    p:not(#{$block-name}__year) {
      color: var(--text-pale-color);
    }

    & > * {
      hyphens: none;
      text-wrap: pretty;
    }
  }

  &__year {
    margin-bottom: 8px;
    color: var(--blue-500);
  }

  // Animations settings
  .lottie-player {

    &--ethernet {
      position: absolute;
      z-index: -1;
      top: 50%;
      //bottom: 0%;
      left: 0;
      right: 0;
      width: auto;
      max-width: 100%;
      transform: translateY(-50%);
      filter: blur(50px);

      @media (min-width: $screen-sm) {
        filter: blur(70px);
      }

      @media (min-width: $screen-lg) {
        //transform: translateY(-45%);
        filter: blur(100px);
      }

      @media (min-width: $screen-xl) {
        //transform: translateY(-62%);
        filter: blur(130px);
      }
    }
  }
}
