.text-article {
  $block-name:                &; // #{$block-name}__element

  margin: 40px 0 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 96px;
  }

  &__content {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
  }
}

