// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;
  font-size: $font-size-sm;
  scroll-behavior: smooth;

  @media (min-width: $screen-md) {
    font-size: $font-size;
  }

  @media (min-width: $screen-xxl) {
    font-size: $font-size-lg;
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }

  &,
  & * {
    //Firefox only
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
    // color1 (wdtn ползунка) color2 (цвет всего скролбара)
    scrollbar-width: thin;  /* толщина */

    //for webkit browsers (Chrome, Opera, Safary, Edge ets.)
    //Here is a complete list of all the new pseudo-elements. All of these pseudo-elements must be prefixed with -webkit-:
    // scrollbar
    // scrollbar-button
    // scrollbar-track
    // scrollbar-track-piece
    // scrollbar-thumb
    // scrollbar-corner
    // resize

    /* полоса прокрутки (скроллбар) */
    ::-webkit-scrollbar {
      width: 6px; /* ширина для вертикального скролла */
      height: 6px; /* высота для горизонтального скролла */
      background-color: var(--scrollbar-bg-color);
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
      border-radius: 4px;
      box-shadow: none;
      //box-shadow: inset 1px 1px 10px #f3faf7;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--blue-700);
    }
  }

  // Theme toggler classes - Start

  &.no-transition *,
  &.no-transition {
    transition: none !important;
  }

  &.theme-transition * {
    transition:
      background-color 0s ease,
      color 0s ease,
      border-color 0s ease;
  }
  // Theme toggler classes - End
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: var(--bg-color);
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

// Фикс для исправления закругленных углов на iPhone/Safari
//textarea,
//input[type="text"],
//input[type="search"],
//input[type="button"],
//input[type="submit"] {
//  -webkit-appearance: none;
//  border-radius: 0;
//background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
//border: 1px solid #afafaf;
//}

// Мы любим Edge, это браузер! (почти)
svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

#map {

  svg {
    fill: revert-layer;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-color);
  background-color: transparent;
  transition: color $transition-time;

  &:hover,
  &:focus {
    color: var(--link-color-hover);
  }

  // &:visited {
  //   color: $link-color--hover;
  // }
}

.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}

.collapse {
  &:not(.show) {
    display: none;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &::before,
  &::after {
    content: "";
    display: ta                            ble;
  }
  &::after {
    clear: both;
  }
}

.list-nostyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  li::before {
    display: none;
  }

  li {
    margin: 0;
  }
}

/* Кастомизируем выделение текста на сайте */
*:not(img)::selection {
  color: var(--white);
  background-color: var(--blue-600); /* Safari, Chrome, Opera */
}

*:not(img)::-moz-selection {
  color: var(--white);
  background-color: var(--blue-600); /* FireFox */
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
  display: block;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  background: none;

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-xxl) {
    $padding-min: 160px; // нужный отступ от краев экрана
    $half-screen-xxl: $screen-xxl / 2 - $padding-min;
    // padding: 1em calc(50% - 600px); //600px - это $screen-xl / 2 - нужный отступ от края экрана
    padding-left: calc(50% - #{$half-screen-xxl});
    padding-right: calc(50% - #{$half-screen-xxl});
  }
}

// Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
// @include row($grid-gutter-width, 10px, 12px, 16px, 20px, 26px);
.row {
  @include row(
    $xs-grid-gutter:  $grid-gutter-width,
    $sm-grid-gutter:  $grid-gutter-width,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width,
    $xxl-grid-gutter: $grid-gutter-width
  );
}

/* &__element {
  @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
  @include col(sm, 6, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
  @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
  @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
  @include col(xl, 2, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
  @include col(xxl, 1, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
} */


.invisible-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.faq-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  padding: 10px;
  margin: 0;
  color: var(--text-color);
  background: none;
  border: none;
  user-select: none;
  cursor: pointer;
}

.publishedon {
  display: inline-flex;
  align-items: center;
  font-size: $font-size-sm;
  font-weight: 500;
  color: var(--text-color);

  &:empty {
    display: none;
  }
}

.main {
  padding-top: 88px;

  @media (min-width: $screen-md) {
    padding-top: calc(50px + 76px);
  }

  @media (min-width: $screen-xl) {
    padding-top: calc(50px + 86px);
  }

  &--hero {
    padding-top: 0 !important;
  }
}

.content {

  & > *:first-child {
    margin-top: 96px;
    //margin-bottom: 96px;
  }

  & > *:last-child {
    //margin-top: 96px;
    margin-bottom: 96px;
  }
}

.swiper-wrapper,
.swiper-slide {
  box-sizing: border-box;
}

.swiper-slide {
  height: auto;

  // &.swiper-slide-active {
  // }
}

.swiper-controls {
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  //margin: 24px 0;

  &:has(.swiper-button-lock) {
    display: none;
  }

  @media (min-width: $screen-md) {
    justify-content: initial;
    max-width: auto;
    width: 250px;
  }
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  position: static;
  left: unset;
  right: unset;
}

.swiper-button-prev,
.swiper-button-next {
  flex: 0 0 56px;
  width: 56px;
  height: 56px;
  min-height: auto;
  padding: 0;
  transition: background $transition-time;

  // &:hover,
  // &:focus {
  //   //background-color: $main-pale--hover;
  // }

  //&:active {
    //background-color: $main-pale--active;
  //}

  &::after {
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 0;
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    transition: background $transition-time;
  }
}

.swiper-button-prev {

  &::after {
    transform: scale(-1,1);
    background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=$white);
  }

  &:hover,
  &:focus {

    &::after {
      background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=#277DFF) !important;
    }
  }

  &.btn--secondary--light {

    &::after {
      background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=#121721);
    }
  }
}

.swiper-button-next {

  &::after {
    background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=$white);
  }

  &:hover,
  &:focus {

    &::after {
      background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=#277DFF) !important;
    }
  }

  &.btn--secondary--light {

    &::after {
      background-image: svg-load('../blocks/sprite-svg/svg/right-lg.svg', fill=#121721);
    }
  }
}

.swiper-button-disabled {
  opacity: 0.5 !important;
}

.swiper-button-lock {
  display: none;
}


// background-image: svg-load('../blocks/phones-modal/bg-img/phone.svg', fill=$main-color);
// background-image: svg-load('../blocks/sprite-svg/svg/phone.svg', fill=$main-color);

/*
.test-col {
  @include col(xs, 12);
  @include col(md, 6);
  @include col(xl, 4);
}
*/
