.connection-form {
  $block-name:                &; // #{$block-name}__element

  @include block-margin;

  &__outer-row {
    gap: 24px 0;
  }

  &__info-col {
    @include col(xs, 12);
    @include col(md, 12);
    @include col(xl, 8);
  }

  &__form-col {
    @include col(xs, 12);
    @include col(md, 12);
    @include col(xl, 4);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    @media (min-width: $screen-xl) {
      height: 100%;
      justify-content: space-between;
    }
  }

  &__info-header {
    position: relative;
    //z-index: 0;
    padding: 16px;
    color: var(--blue-950);
    background: var(--blue-500);
    border-radius: $border-radius--12;
    overflow: hidden; // важно для маски ?? Надо протестировать
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
                0 15px 30px 0 rgba(0, 0, 0, 0.1),
                0 20px 40px 0 rgba(0, 0, 0, 0.15);


    &::before {
      content: "";
      position: absolute;
      inset: -2px -2px 0 -2px;
      border-radius: $border-radius--12;
      background: var(--border-gradient-10);
      pointer-events: none;
      z-index: 1;
      // Универсальная маска для толщины бордера:
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 2px;
    }

    @media (min-width: $screen-md) {
      padding: 24px;
    }

    & > * {
      position: relative;
      z-index: 2;
    }
  }

  // &__title {

  // }

  // &__descr {

  // }

  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    counter-reset: steps;

    @media (min-width: $screen-md) {
      flex-direction: initial;
      justify-content: space-between;
    }

    @media (min-width: $screen-xl) {
      flex: 1 1 auto;
    }

    li {
      counter-increment: steps;

      @media (min-width: $screen-md) {
        flex: 0 1 33.3333%;
      }

      &::before {
        display: block;
        content: counter(steps);
        margin-bottom: 20px;
        font-size: $font-size-lg;
        font-weight: 500;
        color: var(--blue-500);
      }
    }
  }

  &__info-item {
    position: relative;
    //z-index: 0;
    padding: 16px;
    font-size: $font-size-sm;
    border-radius: $border-radius--12;
    overflow: hidden; // важно для маски ?? Надо протестировать
    // color: var(--white);
    // background: var(--opacity-blue-12);
    // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
    //             0 15px 30px 0 rgba(0, 0, 0, 0.1),
    //             0 20px 40px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);

    @media (min-width: $screen-xl) {
      padding: 24px;
    }

    @media (min-width: $screen-xxl) {
      font-size: $font-size;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -2px 0 -2px -2px;
      border-radius: $border-radius--12;
      pointer-events: none;
      z-index: 1;
      // Универсальная маска для толщины бордера:
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 2px;
    }

    & > * {
      position: relative;
      z-index: 2;
      hyphens: none;
      text-wrap: pretty;
    }
  }

  &__item-title {

  }

  &__info-footer {
    position: relative;
    //z-index: 0;
    padding: 16px;
    font-size: $font-size-sm;
    border-radius: $border-radius--12;
    overflow: hidden; // важно для маски ?? Надо протестировать
    // color: var(--text-color);
    // background: var(--opacity-blue-12);
    // box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
    //             0 15px 30px 0 rgba(0, 0, 0, 0.1),
    //             0 20px 40px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);

    @media (min-width: $screen-md) {
      padding: 24px;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 -2px -2px -2px;
      border-radius: $border-radius--12;
      //background: var(--border-gradient-10);
      pointer-events: none;
      z-index: 1;
      // Универсальная маска для толщины бордера:
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 2px;
    }

    & > * {
      position: relative;
      z-index: 2;
      hyphens: none;
      text-wrap: pretty;
    }
  }

  &__info-footer-title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    text-wrap: balance;
    color: var(--text-color);

    @media (min-width: $screen-xxl) {
      font-size: $font-size-lg;
    }
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    position: relative;
    height: 100%;
    padding: 24px 16px;
    border-radius: $border-radius--12;
    overflow: hidden; // важно для маски ?? Надо протестировать
    backdrop-filter: blur(10px);

    @media (min-width: $screen-md) {
      padding: 24px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 38px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -2px -2px 0 -2px;
      border-radius: $border-radius--12;
      background: var(--border-gradient-10);
      pointer-events: none;
      z-index: 1;
      // Универсальная маска для толщины бордера:
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 2px;
    }

    & > * {
      position: relative;
      z-index: 2;
    }
  }

  &__form-title,
  &__form-intro {
    margin: 0;
  }

  &__form-intro {}

  &__tel-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baselinee;
    gap: 16px 32px;
  }

  // &__tel-item {

  // }

  &__tel-link {
    margin: 0;
    text-decoration: none;
    color: var(--blue-500);
  }

  &__agreement {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
      flex-direction: row-reverse;
      align-items: center;
      //flex-wrap: wrap;
    }

    .btn {
      width: 100%;

      @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
        width: auto;
      }
    }

    & > .field-checkbox {
      margin-bottom: 0;

      @media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
        flex: 0 1 auto;
      }
    }
  }

  &--dark {
    // #{$block-name}__element
    #{$block-name}__info-item,
    #{$block-name}__info-footer {
      color: var(--text-color);
      background: var(--opacity-blue-12);
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1),
                  0 15px 30px 0 rgba(0, 0, 0, 0.1),
                  0 20px 40px 0 rgba(0, 0, 0, 0.15);

      &::after {
        background: var(--border-gradient-10);
      }
    }

    #{$block-name}__form-wrapper {
      color: var(--text-color);
      background: var(--opacity-black-50);
    }
  }

  &--light {
    // #{$block-name}__element

    #{$block-name}__info-item,
    #{$block-name}__info-footer {
      color: var(--text-color);
      background: var(--opacity-blue-12);
      box-shadow: none;

      &::after {
        background: var(--border-gradient-10);
      }
    }

    #{$block-name}__form-wrapper {
      color: var(--text-color);
      background: var(--grey-100);
      box-shadow: none;
    }
  }
}
