.pagination {
  display: flex;
  //flex-wrap: wrap;
  //justify-content: center;
  margin-top: 40px;
  //margin-bottom: 60px;

  //@media (min-width: $screen-md) {
    //justify-content: flex-start;
    //margin-top: 20px;
  //}

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  &__item {
    margin: 0;

    .btn {
      background-size: 8px 14px !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }

    &.active {

      .btn {
        color: var(--blue-500);
        pointer-events: none;

        &.btn--secondary--dark {
          background: var(--opacity-white-8);
        }

        &.btn--secondary--light {
          background:
            linear-gradient(180deg, rgba(39, 125, 255, 0.04) 0%,
                                    rgba(39, 125, 255, 0.04) 100%),
            linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%,
                                    rgba(255, 255, 255, 0.5) 100%);
          box-shadow: var(--blue-shadow);

          &::before {
            background: var(--blue-150);
          }
        }
      }
    }

    &.disabled {

      .btn {
        background: transparent;
        box-shadow: none !important;
        //background-repeat: no-repeat;
        pointer-events: none;

        &.btn--secondary--dark {
          color: var(--grey-600) !important;
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#475569); // --grey-600

          &::before {
            background: var(--opacity-white-12);
          }
        }

        &.btn--secondary--light {
          color: var(--grey-500) !important;
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#64748B); // --grey-500

          &::before {
            background: var(--opacity-black-8);
          }
        }
      }
    }

    &--prev,
    &--next {

      #{$block-name}__link {
        background-size: 8px 14px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .btn--secondary--dark {
        background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=$white);
      }

      .btn--secondary--light {
        background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=#121721); // grey-900
      }
    }

    &--prev {
      //margin-right: 20px;

      #{$block-name}__link {
        transform: scale(-1, 1);

        &::before {
          transform: scale(-1, -1);
        }

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=$main-color);
        }
      }
    }

    &--next {
      //margin-left: 20px;

      #{$block-name}__link {

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/pagination/bg-img/right-arrow-icon.svg', fill=$main-color);
        }
      }
    }
  }
}
