.contact-form {
  $block-name:                &; // #{$block-name}__element

  @include block-margin;

  &__header {
    margin-bottom: 40px;
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
  }

  // &__title {

  // }

  // &__intro {

  // }

  // &__body {

  // }

  // &__form {

  // }

  &__inner-row {
    gap: 24px 0;
    margin-bottom: 24px;
  }

  &__inner-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);

    & > label {
      margin-bottom: 0;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px 24px;
    margin-top: 40px;

    @media (min-width: $screen-lg) {
      align-items: baseline;
    }
  }

  &__text-agreement {
    flex: 0 1 auto;

    // @media (min-width: $screen-lg) {
    // }
  }

  &__btn-agreement {
    flex: 1 0 auto;

    @media (min-width: $screen-lg) {
      flex: 0 0 auto;
    }

    .btn {
      width: 100%;

      @media (min-width: $screen-md) {
        width: auto;
      }
    }
  }
}
