.reviews {
  $block-name:                &; // #{$block-name}__element

  margin-bottom: 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 96px;
  }

  &__list {
    gap: 24px 0;
  }

  &__item {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
  }
}
