.breadcrumbs {
  //margin-top: 16px;
  margin-bottom: 24px;

  @media (min-width: $screen-md) {
    //margin-top: 90px;
  }

  //@media (min-width: $screen-xl) {}

  $block-name:                &;
  // #{$block-name}__element

  &__list {
    display: inline-flex;
    //flex-wrap: wrap;
    align-items: baseline;
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 4px;
    list-style: none;
    overflow-x: auto;
  }

  &__item {
    display: inline-flex;
    align-items: baseline;
    max-width: 100%;
    margin-top: 0;
    margin-right: 9px;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '\\'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-flex;
      margin-left: 9px;
      font-weight: 500;
      color: inherit;
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: var(--blue-600);
      }
    }
  }

  &__link {
    display: block;
    max-width: 100%;
    font-size: $font-size;
    font-weight: 400;
    color: var(--main-nav-link-color);
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: var(--main-nav-link-hover-color);
      //text-decoration: none;
    }

    &:active {
      color: var(--main-nav-link-active-color);
    }

    &--home {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 20px;
      height: 20px;
      transform: translateY(3px);

      &::after {
        //display: inline-flex;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        transition: background $transition-time ease;
      }
    }
  }

  &--dark {
    // #{$block-name}__element

    #{$block-name}__link--home {

      &::after {
        background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=$white);
      }

      &:hover,
      &:focus {

        &::after {
          background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=#5297FF); // blue-400
        }
      }

      &:active {

        &::after {
          background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=#7DB1FF); // blue-300
        }
      }
    }
  }

  &--light {
    // #{$block-name}__element

    #{$block-name}__link--home {

      &::after {
        background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=#121721); // grey-900
      }

      &:hover,
      &:focus {

        &::after {
          background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=$main-color); // blue-500
        }
      }

      &:active {

        &::after {
          background-image: svg-load('../blocks/breadcrumbs/bg-img/home.svg', fill=#1F64CC); // blue-600
        }
      }
    }
  }
}
