.tariff-card {
  $block-name:                &; // #{$block-name}__element

  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  font-family: $font-family;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  color: var(--text-color);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
  }

  &__wrapper {
    width: 300px;

    @media (min-width: $screen-md) {
      width: 330px;
    }

    &:last-child {

      #{$block-name} {

        &::after {
          display: none;
        }
      }
    }
  }

  &__inner {
    position: relative;
    //height: 100%;
    perspective: 2000px;
    //cursor: pointer;
    transform-style: preserve-3d;
    will-change: transform;

    &--backfaced {

      #{$block-name}__front {
       transform: rotateY(180deg);
      }

      #{$block-name}__back {
       transform: rotateY(0);
      }
    }
  }

  &__front,
  &__back {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    //object-fit: cover;
    //object-position: center;
    backface-visibility: hidden;
  }

  &__front {
    position: relative;
    z-index: 0;
    height: 100%;
    //background: var(--bg-color);
    background: transparent;
  }

  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    inset: 0;
    //background: var(--bg-color);
    background: transparent;
    transform: rotateY(180deg);
  }

  &__header {
    display: flex;
    //flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 8px 0;
    position: relative;
    height: 80px;
    padding: 10px 16px;

    @media (min-width: $screen-md) {
      height: 106px;
      padding: 16px 24px;
    }

    // &::before,
    // &::after {
    // }

    // &::before {
    //   top: 10px;
    //   right: 16px;
    //   width: 60px;
    //   height: 70px;

    //   @media (min-width: $screen-md) {
    //     top: 16px;
    //   }
    // }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
    }

    span {
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      color: var(--text-pale-color);

      &::before {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background-position: center;
        background-size: 24px;
        background-image: svg-load('../blocks/sprite-svg/svg/battery.svg', fill=$color-success);
      }
    }
  }

  &__header-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px 0;
  }

  &__header-img {
    flex: 0 0 60px;
    width: 60px;
    height: 70px;
    overflow: hidden;

    img {
      width: 60px;
      height: 70px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin: 0;
    color: inherit;
  }

  &__opt-list {
    font-family: $font-family;

  //   @media (min-width: $screen-md) {
  //   }
  }

  &__opt-item {
    display: flex;
    align-items: center;
    gap: 0 12px;
    position: relative;
    width: 100%;
    min-width: 40px;
    height: 40px;
    padding: 0 16px;
    font-size: $font-size;
    white-space: nowrap;
    //text-overflow: ellipsis;
    //overflow: hidden;

    @media (min-width: $screen-md) {
      justify-content: initial;
      height: 56px;
      padding: 0 24px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
    }

    span.visually-hidden + svg {
      opacity: 0.25;
    }

    a,
    .faq-btn {
      color: var(--card-link-color);

      &:hover,
      &:focus {
        color: var(--blue-500);
      }
    }

    svg {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
    }

    &--tv {
      padding: 0 8px;

      @media (min-width: $screen-md) {
        padding: 0 14px;
      }
    }
  }

  &__iptv-btn {
    width: 100%;
    margin: 0 8px;
  }

  &__form-wrapper {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 100%;
    width: 100%;

    #{$block-name}__sel-btn {
      flex: 0 1 auto;
      width: auto;
      padding: 8px 12px;
      overflow: hidden !important;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .faq-btn {
      flex: 0 0 40px;

      @media (min-width: $screen-md) {
        flex-basis: 44px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 16px 16px 32px;
    //margin-top: 16px;

    @media (min-width: $screen-md) {
      padding: 24px 24px 32px;
      //margin-top: 24px;
    }

    & > button:last-of-type {
      flex: 1 1 auto;
    }
  }

  &__back-content {
    height: 100%;
    padding: 16px;
    //margin-bottom: 7px;
    font-size: $font-size-sm;
    overflow-y: auto;

    @media (min-width: $screen-md) {
      padding: 16px 24px;
      //margin-bottom: 7px;
    }
  }

  &__back-btn {

    svg {
      transform: scale(-1,1);
    }
  }

  &--dark {

    &::after {
      //background: var(--opacity-white-16);
      background: linear-gradient(to top, transparent, var(--opacity-white-16) 18%);
    }

    #{$block-name}__header {

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-white-16));
      }
    }

    #{$block-name}__opt-item {

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-white-16));
      }
    }
  }

  &--light {

    &::after {
      //background: var(--blue-150);
      background: linear-gradient(to top, transparent, var(--blue-150) 15%);
    }

    #{$block-name}__header {
      background: linear-gradient(180deg, var(--opacity-blue-16) 0%,
                                          var(--opacity-blue-8) 100%);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-blue-40));
      }
    }

    #{$block-name}__back-content {
      background: var(--opacity-blue-8);
    }

    #{$block-name}__opt-item {
      background: var(--opacity-blue-8);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-blue-40));
      }

      span.visually-hidden + svg {
        opacity: 1;
        fill: var(--blue-300);
      }
    }

    #{$block-name}__footer {
      background: linear-gradient(to top, transparent, var(--opacity-blue-8));
    }
  }
}

