.accordion {

  $block-name:                &; // #{$block-name}__element

  .accordion-button {
    justify-content: space-between;
    gap: 0 24px;
    padding: 24px 0;
    font-size: $font-size-lg;
    font-weight: 600;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &::after {
      display: none;
    }

    &[aria-expanded=true] {

      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .accordion-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 56px;
    position: relative;
    width: 56px;
    height: 56px;
    background-size: 24px;
    background-position: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05),
                0 4px 4px 0 rgba(0, 0, 0, 0.05),
                0 10px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: $border-radius--16;
    backdrop-filter: blur(10px);
    transition: all $transition-time;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: $border-radius--16;
      pointer-events: none;
      z-index: 1;

      // Универсальная маска для толщины бордера:
      mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      mask-composite: exclude;
      padding: 2px; // бордер толщина
      transition: background $transition-time;
    }

    & > * {
      position: relative;
      z-index: 2;
    }

    svg {
      transition: all $transition-time;
    }
  }

  .accordion-body {
    padding: 12px 0 24px;
  }

  .accordion-item {

    &:not(:last-child) {
      border-bottom: 1px solid transparent;
    }
  }

  &--dark {

    .accordion-button {

      &:hover,
      &:focus {

        .accordion-icon {
          color: var(--blue-500);
          background: var(--opacity-white-8);
        }
      }
    }

    .accordion-icon {
      background: var(--opacity-white-4);

      &::before {
        background: var(--border-gradient-10);
      }
    }

    .accordion-item {

      &:not(:last-child) {
        border-color: rgba($white, 0.15);
      }
    }
  }

  &--light {

    .accordion-button {

      &:hover,
      &:focus {

        .accordion-icon {
          color: var(--blue-500);

          &::before {
            background: var(--blue-150);
          }
        }
      }
    }

    .accordion-icon {
      background: var(--gradient-60-50);

      &::before {
        background: var(--border-gradient-10);
      }
    }

    .accordion-item {

      &:not(:last-child) {
        border-color: rgba($main-color, 0.25);
      }
    }
  }
}

