.news-article {
  $block-name:                &; // #{$block-name}__element

  & > .header {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
  }

  &__row {
    gap: 40px 0;
  }

  &__col-main {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 8);
    @include col(xxl, 7);
  }

  &__col-aside {
    @include col(xs, 12);
    @include col(md, 10);
    @include col(xl, 4);
    @include col-offset(xxl, 1);
    @include col(xxl, 4);

    @media (min-width: $screen-xxl) {
      position: relative;

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: -24px;
        bottom: 0;
        width: 2px;
      }
    }
  }

  // &__main {

  // }

  &__main-top {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__img {
    margin-bottom: 40px;
    border-radius: $border-radius--12;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    color: var(--text-pale-color);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote {
      color: var(--text-color);
    }

    img {
      display: block;
      width: 100%;
      margin: 1.5em 0;
      border-radius: $border-radius--12;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__content-block {

    & + & {
      margin-top: 40px;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    gap: 40px 0;

    @media (min-width: $screen-xl) {
      position: sticky;
      top: 150px;
    }
  }

  &__nav {
    padding: 24px;

    @media (max-width: $screen-xl - 1) {
      display: none;
    }

    &--dark {
      @include gradient-border-mask(
        2px,
        $border-radius--12,
        var(--border-gradient-10),
        var(--opacity-black-50)
      )
    }

    &--light {
      @include gradient-border-mask(
        2px,
        $border-radius--12,
        var(--blue-100),
        var(--blue-50)
      )
    }
  }

  // &__nav-title {

  // }

  &__nav-list {
    color: var(--text-pale-color);
  }

  // &__nav-item {

  // }

  &__nav-link {
    text-decoration: none;
    color: inherit;
  }

  .faq {
    //margin-bottom: ;
    margin-bottom: 0;

    .faq__body {
      background: none;
    }

    .faq__inner > .container {
      padding-left: 0;
      padding-right: 0;
    }

    .container > .row {
      margin-left: 0;
      margin-right: 0;
    }

    .faq__header-col {
      flex-basis: 100%;
      max-width: none;
      padding: 0;
      margin-left: 0;
    }

    .faq__header {
      text-align: initial;
    }
  }
}

// -----------------------

.page {

  &[data-theme=dark] {

    .news-article__col-aside::before {

      @media (min-width: $screen-xxl) {
        background: var(--grey-700);
      }
    }
  }

  &[data-theme=light] {

    .news-article__col-aside::before {

      @media (min-width: $screen-xxl) {
        background: rgba($main-color, 0.2);
      }
    }
  }
}
