.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 56px;
  padding: 8px 24px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: $font-family;
  line-height: $line-height;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: var(--blue-900);
  border-radius: $border-radius--16;
  border: 1px solid var(--blue-700);
  background-color: var(--blue-500);
  box-shadow: 0 59px 17px 0 rgba(20, 122, 255, 0),
              0 38px 15px 0 rgba(20, 122, 255, 0.02),
              0 21px 13px 0 rgba(20, 122, 255, 0.08),
              0 10px 10px 0 rgba(20, 122, 255, 0.13),
              0 2px 5px 0 rgba(20, 122, 255, 0.15);
  backdrop-filter: blur(10px);
  user-select: none;
  cursor: pointer;
  transition: all $transition-time;

  &:has(svg + span) {
    padding-left: 20px;
  }

  &:has(span + svg) {
    padding-right: 22px;
  }

  svg {
    width: 24px;
    height: 24px;
    transition: fill 0.1s ease-in-out;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--blue-900);
    background-color: var(--blue-600);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: var(--grey-500) !important;
    background-color: transparent !important;
    border-color: var(--opacity-black-8) !important;
    box-shadow: none !important;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--dark {

    &--disabled,
    &:disabled {
      border-color: var(--opacity-white-12) !important;
    }
  }

  &--light {
    border-color: transparent;

    &--disabled,
    &:disabled {
      border-color: var(--blue-150) !important;
    }
  }

  &--header {
    height: 44px;
    padding: 9px 16px;
    border-radius: $border-radius--32;

    &:has(svg + span) {
      padding-left: 12px;
    }

    &:has(span + svg) {
      padding-right: 12px;
    }
  }

  &--icon-only {
    width: 56px;
    padding: 0;
  }

  &--glow {
    border: none;
    box-shadow: var(--shadow-blur);
    backdrop-filter: blur(10px);

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: -10px;
      // background-color:hsla(187,100%,62%,1);
      // background-image:
      // radial-gradient(at 46% 0%, hsla(175,100%,50%,1) 0px, transparent 50%),
      // radial-gradient(at 20% 90%, hsla(189,100%,56%,1) 0px, transparent 50%),
      // radial-gradient(at 100% 51%, hsla(215,100%,50%,1) 0px, transparent 50%),
      // radial-gradient(at 47% 100%, hsla(214,100%,32%,1) 0px, transparent 50%);
      filter: blur(20px);
      opacity: 0.2;
      border-radius: $border-radius--32;
      mix-blend-mode: screen;
    }

    &:hover,
    &:focus {

      &::after {
        opacity: 0.8;
      }
    }

    &--dark {
      @include gradient-border-mask(
        2px,
        $border-radius--16,
        var(--border-gradient-10),
        var(--opacity-black-50)
      )
      color: var(--text-color);

      &::after {
        background-color:hsla(232,89%,4%,0);
        background-image:
          radial-gradient(at 100% 100%, hsla(215,100%,59%,0.51) 0px,
                                        transparent 50%),
          radial-gradient(at 27% 0%, hsla(187,100%,62%,0.7) 0px,
                                        transparent 50%),
          radial-gradient(at 20% 100%, hsla(214,100%,37%,0.59) 0px,
                                        transparent 50%),
          radial-gradient(at 72% 0%, hsla(175,100%,50%,0.81) 0px,
                                        transparent 50%);
      }

      &:hover,
      &:focus {
        @include gradient-border-mask(
          2px,
          $border-radius--16,
          var(--border-gradient-10),
          var(--opacity-black-50)
        )
        color: var(--text-color);

        // &::after {
        //   mix-blend-mode: screen;
        // }
      }

      &--disabled,
      &:disabled {
        cursor: not-allowed;
        color: var(--grey-600) !important;
        background-color: transparent !important;
        //border-color: var(--opacity-white-10) !important;
        box-shadow: none !important;

        @at-root a.btn--disabled {
          pointer-events: none;
        }

        &::before {
          background: var(--opacity-white-12) !important;
        }

        &::after {
          opacity: 0;
        }
      }
    }

    &--light {
      @include gradient-border-mask(
        2px,
        $border-radius--16,
        var(--border-gradient-10),
        var(--gradient-60-50)
      )
      color: var(--text-color);

      &::after {
        background-color:hsla(232,89%,4%,0);
        background-image:
          radial-gradient(at 100% 100%, hsla(215,100%,59%,1) 0px,
                                        transparent 50%),
          radial-gradient(at 27% 0%, hsla(187,100%,62%,0.7) 0px,
                                        transparent 50%),
          radial-gradient(at 20% 100%, hsla(214,100%,37%,1) 0px,
                                        transparent 50%),
          radial-gradient(at 72% 0%, hsla(175,100%,50%,0.81) 0px,
                                        transparent 50%);
          opacity: 0.2;
      }

      &:hover,
      &:focus {
        @include gradient-border-mask(
          2px,
          $border-radius--16,
          var(--border-gradient-10),
          var(--gradient-60-50)
        )
        color: var(--blue-600);
        //box-shadow: var(--big-shadow);

        &::after {
          opacity: 1;
        }
      }

      &--disabled,
      &:disabled {
        cursor: not-allowed;
        color: var(--grey-500) !important;
        background-color: transparent !important;
        //border-color: var(--opacity-white-10) !important;
        box-shadow: none !important;

        @at-root a.btn--disabled {
          pointer-events: none;
        }

        &::before {
          background: var(--opacity-black-8) !important;
        }

        &::after {
          opacity: 0;
        }
      }
    }
  }

  &--secondary {
    color: var(--text-color);
    box-shadow: var(--shadow-blur);
    border: none;

    &::before {
      transition: background $transition-time;
    }

    &--dark {
      @include gradient-border-mask(
        2px,
        $border-radius--16,
        var(--border-gradient-10),
        var(--opacity-white-4)
      )

      &:hover,
      &:focus {
        color: var(--blue-500) !important;
        background: var(--opacity-white-8);
      }

      &--disabled,
      &:disabled {
        color: var(--grey-600) !important;
        background: transparent;
        box-shadow: none !important;

        &::before {
          background: var(--opacity-white-12);
        }
      }
    }

    &--light {
      @include gradient-border-mask(
        2px,
        $border-radius--16,
        var(--border-gradient-10),
        var(--gradient-60-50)
      )
      border: 1px solid var(--border-gradient-10);

      &:hover,
      &:focus {
        color: var(--blue-600) !important;
        background:
          linear-gradient(180deg, rgba(39, 125, 255, 0.04) 0%,
                                  rgba(39, 125, 255, 0.04) 100%),
          linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%,
                                  rgba(255, 255, 255, 0.5) 100%);
        box-shadow: var(--blue-shadow);

        &::before {
          background: var(--blue-150);
        }
      }

      &--disabled,
      &:disabled {
        color: var(--grey-500) !important;
        background: transparent;
        box-shadow: none !important;

        &::before {
          background: var(--opacity-black-8);
        }
      }
    }
  }
}
