.customer-services {
  $block-name:                &; // #{$block-name}__element

  @include block-margin;
  position: relative;
  //overflow-x: hidden;

  &__nav {
    margin-bottom: 16px;
  }

  // &__content {

  // }

  &__row {
    gap: 16px 0;

    @media (min-width: $screen-xxl) {
      gap: 24px 0;
    }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 12);
    @include col(xl, 4);
  }

  &__header {
    margin-bottom: 40px;

    p {
      color: var(--text-pale-color);
    }

    p + p {
      font-weight: 500;
    }
  }

  &__title {
    margin-top: 0 !important;
  }

  &__pane {

  }

  &__ctrl {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 24px;
    margin-top: 24px;

    @media (min-width: $screen-md) {
      margin-top: 40px;
    }
  }

  .lottie-player {
    position: absolute;
    z-index: -1;
    //top: 300px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 16 / 10;
    //height: 400px;
    //border: 1px solid red;
    //margin-top: 40px;
    filter: blur(100px);

    @media (min-width: $screen-md) {
      //height: 100%;
      bottom: 0;
    }

    @media (min-width: $screen-xl) {
      bottom: -200px;
    }

    @media (min-width: $screen-xxl) {
      bottom: -400px;
    }
  }
}
