.shop {
  $block-name:                &; // #{$block-name}__element

  margin-bottom: 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 96px;
  }

  &__pane-row {
    gap: 24px 0;
  }

  &__pane-col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(lg, 4);
    @include col(xl, 3);
  }

  &__tabs {

    #{$block-name}__nav {
      margin-bottom: 40px;
    }
  }
}
