.faq-slider {
  margin: 40px 0;

  $block-name:                &; // #{$block-name}__element

  &__container {
  }

  &__slide {
  }

  &__controls {
    margin-top: 24px;
  }

  &__btn-prev {
  }

  &__pagination {
  }

  &__btn-next {
  }
}
