.tv-card {
  $block-name:                &; // #{$block-name}__element

  height: 100%;

  &__inner {
    position: relative;
    height: 100%;
    perspective: 2000px;
    //cursor: pointer;
    transform-style: preserve-3d;
    will-change: transform;

    &--backfaced {

      #{$block-name}__front {
       transform: rotateY(180deg);
      }

      #{$block-name}__back {
       transform: rotateY(0);
      }
    }
  }

  &__front,
  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
  }

  &__front {
    position: relative;
    z-index: 0;
    height: 100%;
    background: transparent;
  }

  &__back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px 0;
    position: absolute;
    z-index: 1;
    inset: 0;
    background: transparent;
    transform: rotateY(180deg);
  }

  &__header,
  &__opt-item,
  &__footer {
    padding-right: 24px;
    padding-left: 24px;
  }

  &__opt-item,
  &__footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px 0;
    position: relative;
    min-height: 80px;
    padding-top: 32px;
    padding-bottom: 16px;

    // @media (min-width: $screen-md) {
    // }

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      right: 0;
      left: 0;
      height: 1px;
      background: linear-gradient(to left, transparent, var(--opacity-white-16));
    }

    span {
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      color: var(--text-pale-color);

      &::before {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background-position: center;
        background-size: 24px;
        background-image: svg-load('../blocks/sprite-svg/svg/battery.svg', fill=$color-success);
      }
    }
  }


  &__front-content {

  }

  &__opt-list {
    padding-left: 0;
    list-style: none;
    font-size: $font-size;
  }

  &__opt-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    position: relative;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 1px;
      right: 0;
      left: 0;
      height: 1px;
    }

    span {
      flex: 0 1 auto;
      display: inline-flex;
      gap: 12px;

      &.h4,
      &.h5 {
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    .tag {
      margin-left: auto;

      //@media (min-width: $screen-md) and (max-width: $screen-xl - 1) {
        //margin-left: 24px;
      //}
    }

    &--check {
      flex-wrap: nowrap;

      span {

      }
    }
  }

  &__back-content {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    height: 100%;
    padding: 24px 24px 0;
    font-size: $font-size-sm;
    overflow-y: auto;

    @media (min-width: $screen-md) {
      padding: 16px 24px;
      //margin-bottom: 7px;
    }

    *:not(.h4) {
     color: var(--text-pale-color);
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    //padding: 16px 16px 32px;

    //@media (min-width: $screen-md) {
    //}
    & > .btn.btn--icon-only {
      flex: 0 0 56px;
    }

    & > .btn {
     flex: 1 1 auto;
    }
  }

  &--dark {
    // #{$block-name}__element

    #{$block-name}__header {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%,
                                             rgba(0, 0, 0, 0.16) 100%);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-white-16));
      }
    }

    #{$block-name}__opt-item {
      color: var(--text-pale-color);
      background: var(--opacity-black-16);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-white-16));
      }
    }

    #{$block-name}__opt-item--na {

      svg {
        fill: rgba(255, 255, 255, 0.25);
      }
    }

    #{$block-name}__back {
      // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.16) 0%,
      //                                        rgba(0, 0, 0, 0) 50%,
      //                                        rgba(0, 0, 0, 0.16) 80%);
      background: var(--opacity-black-16);
    }

    #{$block-name}__footer {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.16) 0%,
                                             rgba(0, 0, 0, 0) 100%);
    }
  }

  &--light {
    // #{$block-name}__element

    #{$block-name}__header {
      background: linear-gradient(to bottom, rgba(39, 125, 255, 0.22) 0%,
                                             rgba(39, 125, 255, 0.08) 100%);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-blue-30));
      }
    }

    #{$block-name}__opt-item {
      background: var(--opacity-blue-8);

      &::after {
        background: linear-gradient(to left, transparent, var(--opacity-blue-30));
      }
    }

    #{$block-name}__opt-item--na {

      svg {
        fill: var(--blue-300);
      }
    }

    #{$block-name}__back {
      background: linear-gradient(to bottom, rgba(39, 125, 255, 0.08) 0%,
                                             rgba(39, 125, 255, 0.08) 50%,
                                             rgba(39, 125, 255, 0) 80%);
      //background: var(--opacity-blue-8);

      #{$block-name}__footer {
        background: linear-gradient(to top, rgba(39, 125, 255, 0.08) 0%,
                                            rgba(39, 125, 255, 0) 100%);
      }
    }

    #{$block-name}__footer {
      background: linear-gradient(to bottom, rgba(39, 125, 255, 0.08) 0%,
                                             rgba(39, 125, 255, 0) 100%);
    }
  }
}
