.hero {

  $block-name:                &; // #{$block-name}__element

  &__slider {
    color: var(--text-color);
    //background: var(--blue-200);
    background: var(--bg-color);
    border-radius: 0 0 24px 24px;

    @media (min-width: $screen-md) {
      border-radius: 0 0 32px 32px;
    }

    @media (min-width: $screen-xl) {
      border-radius: 0 0 72px 72px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: 0 0 24px 24px;
      border-bottom: 2px solid rgba(39, 125, 255, 0.07);
      pointer-events: none;

      @media (min-width: $screen-md) {
        border-radius: 0 0 32px 32px;
      }

      @media (min-width: $screen-xl) {
        border-radius: 0 0 72px 72px;
      }
    }
  }

  &__slide {
    min-height: 500px;
    padding-top: 112px; // 88+24

    @media (min-width: $screen-md) {
      padding-top: 170px; // 126+44
    }

    @media (min-width: $screen-xl) {
      min-height: 650px;
      padding-top: 190px; // 126+64
    }

    @media (min-width: $screen-xxl) {
      min-height: 500px;
      padding-top: 130px; // 126+4
    }

    .row {
      gap: 24px 0;

      @media (max-width: $screen-xl - 1) {
        //flex-direction: column;
        //justify-content: space-between;
        height: 100%;
      }
    }
  }

  &__col-text {
    @include col(xs, 12);
    @include col(xl, 5);
    @include col(xxl, 5);

    @media (max-width: $screen-xl - 1) {
      align-self: flex-start;
    }

    @media (min-width: $screen-xl) {
      padding-bottom: 136px;
    }

    @media (min-width: $screen-xxl) {
      padding-bottom: 168px;
    }
  }

  &__col-img {
    @include col(xs, 12);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 0);
    @include col(xl, 7);
    @include col-offset(xxl, 1);
    @include col(xxl, 6);

    @media (max-width: $screen-xl - 1) {
      align-self: flex-end;
    }
  }

  &__col-text,
  &__col-img {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    color: var(--text-color);
  }

  &__slide-title {
    margin-bottom: 24px;
  }

  &__slide-decr {
    margin-top: 24px;
    font-weight: 500;

    & + .btn {
      margin-top: 40px;
    }
  }

  &__img {

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__controls {
    position: absolute;
    left: 0;
    bottom: 24px;
    //z-index: 1;
    //width: 205px;

    @media (min-width: $screen-xl) {
      bottom: 40px;
    }

    .swiper-controls {
      max-width: 204px;
      //color: var(--grey-900);
    }
  }

  // &__btn-prev,
  // &__btn-next {
  // }

  // &__pagination {
  // }

  // &__btn-next {
  // }

  // &--dark {}

  // &--light {}
}
