.tag {
  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  height: 22px;
  padding: 1.5px 8px 0;
  font-size: $font-size-sm;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: $border-radius--4;

  &:empty {
    display: none;
  }

  &--grey {
    color: var(--grey-900);
    background: var(--grey-300);
  }

  &--black {
    color: var(--white);
    background: var(--grey-900);
  }

  &--white {
    color: var(--white);
    background: var(--grey-900);
  }

  &--blue {
    color: var(--grey-900);
    background: var(--blue-500);
  }

  &--blue-light {
    color: var(--grey-900);
    background: var(--blue-300);
  }

  &--red {
    color: var(--white);
    background: var(--red);
  }

  &--yellow {
    color: var(--grey-900);
    background: var(--yellow);
  }

  &--green {
    color: var(--grey-900);
    background: var(--green);
  }

  &--orange {
    color: var(--grey-900);
    background: var(--orange);
  }

  &--big {
    height: auto;
    padding: 4px 12px;
    font-size: $font-size-lg;
    font-weight: 500;
    white-space: nowrap;
    text-transform: none;
  }

  &--lg {
    min-height: 22px;
    font-size: $font-size;
  }
}
