.infowindow-template {
  $block-name:                &; // #{$block-name}__element

  position: relative;
  width: 100%;
  //min-width: 250px;
  //padding: 24px;
  padding: 0 24px 24px 12px;
  //background: var(--opacity-white-60);
  //color: var(--text-color);
  color: var(--grey-900);
  background: transparent;
  border-radius: $border-radius;
  //border-top: 2px solid var(--blue-500);
  //background: linear-gradient(to bottom, rgba(39, 125, 255, 0.24) 0%, rgba(39, 125, 255, 0) 48px, transparent);
  // box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05),
  //             0 4px 4px 0 rgba(0, 0, 0, 0.05),
  //             0 10px 10px 0 rgba(0, 0, 0, 0.1);
  //backdrop-filter: blur(15px);

  &::after {
    content: "";
    position: absolute;
    left: 50%; /* по центру окна */

    border-width: 12px 10px 0 10px;
    border-style: solid;
    border-color: var(--blue-500) transparent transparent transparent;

    //backdrop-filter: blur(10px);
  }

    // &__inner {

  // }

  &__power-supply {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 16px;
    font-size: $font-size-sm;
    color: #121721;
  }

  &__title {
    display: flex;
    //flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
    margin: 0 0 16px;
    font-size: $font-size-lg;
  }

  &__street {
    flex: 0 1 auto;
  }

  &__apartment {
    flex: 0 0;
    min-width: 40px;
  }

  &__close {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    z-index: 1;
    top: -28px;
    right: -29px;
    //width: 44px;
    //height: 44px;
    //border: none;
    background: rgba($white, 0.8) !important;
    // border-radius: 50%;
    // cursor: pointer;
    //backdrop-filter: blur(20px);
  }

  &__btn-go {
    color: var(--grey-900);

    & > svg {
      fill: currentColor !important;
    }
  }

  // &__form {

  // }

  // &__input-group {

  // }

  &--above {

    &::after {
      bottom: -12px; /* ниже окна */
      transform: translateX(-50%);
    }
  }

  &--below {

    &::after {
      top: -12px;
      transform: translateX(-50%) rotate(180deg);
    }
  }

  .field-text__input {
    color: var(--grey-900);

    &::placeholder {
      color: var(--grey-900);
    }
  }

  &--dark {
    // #{$block-name}__element
    // background: var(--opacity-black-50);
  }

  &--light {
    // #{$block-name}__element
    // background: var(--opacity-white-60);
  }
}

.gm-style-iw-d {
  //width: 300px;
  overflow: auto !important;
}

dix[role=dialog],
.gm-style .gm-style-iw-c {
  //width: 312px; //300+12
  max-width: 312px !important;
  min-width: 312px;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: $border-radius;
  background: var(--opacity-white-60);
  backdrop-filter: blur(15px);
}

.gm-style .gm-style-iw-tc::after {
  background: var(--opacity-white-60);
  backdrop-filter: blur(10px);
}
