.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 16px;

  &__title {
    display: block;
    margin-bottom: 16px;
    line-height: $line-height;
    font-weight: 500;
    color: $title-color;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    #{$block-name}__input-wrap {
      flex: 0 0 auto;
    }
  }

  &__input-wrap {
    margin-right: 24px;
    margin-bottom: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 32px;
    //margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &:hover {

      #{$block-name}__name-text {

        &::before {
          border-color: var(--blue-600);
        }

        // &::after {
        //   opacity: 1;
        //   background-color: var(--blue-600);
        // }
      }
    }
  }

  &__name-text {
    color: var(--text-color);
    line-height: 24px;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: var(--radio-bg-color);
      border: 1px solid var(--radio-border-color);
      border-radius: 50%;

      @at-root input:checked ~ & {
        background-color: var(--blue-500);
        border-color: var(--blue-500);
      }
    }

    @at-root input:focus ~ &::before {
      @include field-focus;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 6px;
      width: 12px;
      height: 12px;
      opacity: 0;
      border-radius: 50%;
      background-color: var(--bg-color);
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.8em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
