.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  //max-width: 195px;
  //max-height: 65px;

  &:hover,
  &:focus {

    svg {
      fill: var(--blue-500);
    }
  }

  svg {
    width: 133px;
    height: 44px;
    fill: var(--text-color);
    transition: fill $transition-time;

    @media (min-width: $screen-xl) {
      width: 169px;
      height: 56px;
    }
  }

  &--footer {

    svg {
      width: 145px;
      height: 48px;

      @media (min-width: $screen-md) {
        width: 195px;
        height: 65px;
      }
    }
  }

  // &--light {}
  // &--dark {}
}
