.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  align-self: center;

  &:hover,
  &:focus {

    svg {
      display: block;
      fill: var(--blue-500);
    }
  }

  svg {
    width: 133px !important;
    height: 44px !important;
    fill: var(--text-color);
    transition: fill $transition-time;

    @media (min-width: $screen-xl) {
      width: 169px !important;
      height: 56px !important;
    }
  }

  &--header {

    svg {

      @media (max-width: 360px - 1) {
        width: 44px !important;
        aspect-ratio: 1 / 1;
      }

      .text {

        @media (max-width: 360px - 1) {
          display: none;
        }
      }
    }
  }

  &--footer {

    svg {
      width: 145px;
      height: 48px;

      @media (min-width: $screen-md) {
        width: 195px !important;
        height: 65px !important;
      }
    }
  }

  // &--light {}
  // &--dark {}
}
