.vary-modal {

  $block-name:                &; // #{$block-name}__element

  &__title {
    display: block;
  }

  &__subtitle {
    font-size: $font-size-lg;

    &:empty {
      display: none;
    }
  }

  .field-text {

    &.is-hidden {
      display: none;
    }
  }
}
