.coverage-links {
  $block-name:                &; // #{$block-name}__element

  @include block-margin;

  &__list-main,
  &__inner-list {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
  }

  &__list-main {
    display: flex;
    flex-direction: column;
    gap: 64px 0;

    @media (min-width: $screen-xxl) {
      gap: 96px 0;
    }

    // @media (min-width: $screen-xxl) {
    //   gap: 128px 0;
    // }
  }

  &__main-item {
    margin: 0;
  }

  &__title-wrapper {
    margin-bottom: 16px;
  }

  &__main-item-title {
    display: block;
    margin-bottom: 0;

    & + * {
      margin-top: 8px;
    }
  }

  &__connect-type {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 8px;
  }

  // &__type-badge {
  //   display: inline-flex;
  //   padding: 0 8px;
  //   font-size: $font-size-sm;
  //   font-weight: 500;
  // }

  &__inner-list {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    @include row(
      $xs-grid-gutter:  8px,
      $sm-grid-gutter:  8px,
      $md-grid-gutter:  8px,
      $lg-grid-gutter:  8px,
      $xl-grid-gutter:  8px,
      $xxl-grid-gutter: 8px
    );
    gap: 8px 0;
  }

  &__inner-item {
    //flex: 1 1;
    //flex-basis: clamp(300px, 30%, 350px);
    @include col(xs, 12, $grid-columns, 8px);
    @include col(md, 6, $grid-columns, 8px);
    @include col(lg, 4, $grid-columns, 8px);
    @include col(xl, 3, $grid-columns, 8px);
    margin: 0;

    /*@media (min-width: $screen-md) {
      flex-basis: clamp(300px, 30%, 400px);
    }*/

    /*@media (min-width: $screen-xl) {
      flex-basis: clamp(300px, 24%, 400px);
    }*/

    // @media (min-width: $screen-xxl) {
    //   flex-basis: clamp(300px, 24%, 400px);
    // }

    // &:last-child {
    //   flex: 0 0;
    // }
  }

  &__inner-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 24px;
    text-decoration: none;
    color: var(--text-color);
    backdrop-filter: blur(10px);
    overflow: hidden;

    &::before {
      inset: -2px -2px 0 -2px !important;
      //transition: background $transition-time;
    }

    &:hover,
    &:focus {
      color: var(--text-color);
    }

    &--nolink {
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 16px;
      height: 100%;
      color: var(--text-color);

      #{$block-name}__inner-link-text {
        flex: 1 0;
        //display: inline-flex;
        //width: auto;
        text-decoration: none;
      }
    }

    &--dark {
      // #{$block-name}__element
      @include gradient-border-mask(
        2px,
        $border-radius,
        var(--border-gradient-10),
        var(--opacity-black-50)
      )

      #{$block-name}__inner-link-icon {
        @include gradient-border-mask(
          2px,
          $border-radius--16,
          var(--border-gradient-10),
          var(--opacity-white-4)
        )
        color: var(--text-color);
        box-shadow: var(--shadow-blur);
      }
    }

    &--light {
      // #{$block-name}__element
      @include gradient-border-mask(
        2px,
        $border-radius,
        var(--grey-300),
        var(--grey-100)
      )

      #{$block-name}__inner-link-icon {
        @include gradient-border-mask(
          2px,
          $border-radius--16,
          var(--border-gradient-10),
          var(--blue-500)
        )
        box-shadow: var(--blue-shadow);
      }
    }
  }

  &__inner-link-text {
    flex: 1 1 auto;
    margin: 0;
    color: inherit;
  }

  &__inner-link-icon {
    flex: 0 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
  }

  &__buildings {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 4px;
    width: 100%;
    padding-left: 0;
    //margin-top: 8px;
    list-style: none;
  }

  &__building-item {
    flex: 0 0 44px;
    margin: 0;

    &:last-child {

      #{$block-name}__building-link span {

        &::after {
          display: none;
        }
      }
    }
  }

  &__building-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;
    //padding: 8px;
    font-size: $font-size;
    text-decoration: none;
    color: var(--link-color);

    @media (min-width: $screen-xxl) {
      font-size: inherit;
    }

    span {
      position: relative;

      &::after {
        display: inline-flex;
        content: ",";
        position: absolute;
        bottom: 0;
        right: -0.5ch;
      }
    }
  }
}
