.messengers {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;

  $block-name:                &; // #{$block-name}__element

  // &__item {
  // }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
    color: var(--text-color);
    //background: transparent;
    user-select: none;
    backdrop-filter: blur(10px);

    &:hover,
    &:focus {
      color: var(--main-nav-link-hover-color);
    }

    &:active {
      color: var(--main-nav-link-active-color);
    }
  }

  &--dark {

    #{$block-name}__link {
      @include gradient-border-mask(
        2px,
        22px,
        var(--border-gradient-10),
        var(--opacity-black-50)
      );
    }
  }

  &--light {

    #{$block-name}__link {
      @include gradient-border-mask(
        2px,
        22px,
        var(--border-gradient-10),
        var(--gradient-60-50)
      );
    }
  }
}
