.customer-info {
  $block-name:                &; // #{$block-name}__element

  position: relative;
  margin-top: 40px;
  margin-bottom: 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 96px;
  }

  &__list {
    gap: 24px 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    @include col(xs, 12);
    @include col(md, 6);
    //@include col(lg, 4);
    margin-top: 0;
    margin-bottom: 0;
  }

  // Animations settings
  .lottie-player {

    &--ethernet {
      position: absolute;
      z-index: -1;
      top: 0%;
      //bottom: 0%;
      left: 0;
      right: 0;
      width: auto;
      max-width: 100%;
      //transform: translateY(-40%);
      filter: blur(50px);

      @media (min-width: $screen-sm) {
        filter: blur(70px);
      }

      @media (min-width: $screen-lg) {
        //transform: translateY(-45%);
        filter: blur(100px);
      }

      @media (min-width: $screen-xl) {
        //transform: translateY(-62%);
        filter: blur(130px);
      }
    }
  }
}
