.customer-info {
  $block-name:                &; // #{$block-name}__element

  margin-top: 40px;
  margin-bottom: 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 96px;
  }

  &__list {
    gap: 24px 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    @include col(xs, 12);
    @include col(md, 6);
    //@include col(lg, 4);
    margin-top: 0;
    margin-bottom: 0;
  }
}
