.field-filter {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  max-width: 100%;

  $block-name:                &; // #{$block-name}__element

  &__title {
    @include field-name;
  }

  &__input-group {
    display: inline-flex;
    align-items: center;
    gap: 0;
    position: relative;
    overflow-x: auto;

    // @media (max-width: $screen-md - 1) {
    //   padding-bottom: 4px;
    // }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: $font-size;
    cursor: pointer;
  }

  &__name-text {
    display: inline-flex;
    align-items: center;
    min-height: 56px;
    padding: 12px 16px;
    white-space: nowrap;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all $transition-time;

    &--icon {
      position: relative;
      padding-left: 50px; //16+32

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-position: center;
        //background-image: ;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &--dark {
    //#{$block-name}__element
    #{$block-name}__input-group {

      &::after {
        background: radial-gradient(50% 50% at 50% 50%,
                               rgba($white, 0.2) 0%,
                               rgba($white, 0) 100%);
      }
    }

    #{$block-name}__name {

      &:hover > #{$block-name}__name-text,
      input:focus + span,
      input:checked + span {
        background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0) 100%);
        border-color: var(--grey-100) !important;
      }
    }

    #{$block-name}__name-text--icon {

      &.all {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-all.svg', fill=$white);
        }
      }

      &.new {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-new.svg', fill=$white);
        }
      }

      &.existing {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-existing.svg', fill=$white);
        }
      }
    }
  }

  &--light {
    //#{$block-name}__element
    #{$block-name}__input-group {

      &::after {
        background: radial-gradient(50% 50% at 50% 50%,
                               rgba(0, 0, 0, 0.2) 0%,
                               rgba(0, 0, 0, 0) 100%);
      }
    }

    #{$block-name}__name {

      &:hover > #{$block-name}__name-text,
      input:focus + span,
      input:checked + span {
        background: linear-gradient(0deg,
                               rgba(39, 125, 255, 0.3) 0%,
                               rgba(39, 125, 255, 0) 100%);
        border-color: var(--blue-500) !important;
      }
    }

    #{$block-name}__name-text--icon {

      &.all {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-all.svg', fill=$main-color);
        }
      }

      &.new {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-new.svg', fill=$main-color);
        }
      }

      &.existing {

        &::before {
          background-image: svg-load('../blocks/sp-offers-grid/bg-img/sp-existing.svg', fill=$main-color);
        }
      }
    }
  }
}
