.field-toggler {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;

  &__title {
    @include field-name;
  }

  //&__input-wrap {

    // & + & {
    //   margin-top: 0.5em;
    // }
  //}

  &__name {
    display: inline-flex;
    align-items: center;
    //margin-right: 0.6em;
    font-weight: 500;
    font-size: $font-size;
    line-height: $line-height;
    color: var(--text-color);
    cursor: pointer;
  }

  &__name-text {
    position: relative;
    padding-right: 66px; // 50+16
    //font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 50px;
      height: 30px;
      transform: translateY(-50%);
      background-color: var(--grey-200);
      border: none;
      border-radius: $border-radius--16;

      @at-root input:focus ~ & {
        @include field-focus;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 2px;
      width: 26px;
      height: 26px;
      transform: translate(-20px, -50%);
      background-color: var(--white);
      border: none;
      border-radius: 50%;
      transition: all 0.3s;
    }

    @at-root input:checked ~ &::after {
      transform: translateY(-50%);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    }

    @at-root input:checked ~ &::before {
      background-color: var(--blue-500);
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
